
    <div class="col-lg-<%= cell.gutter %> col-md-<%= cell.gutter %> col-sm-<%= cell.gutter %> col-xs-<%= cell.gutter %> <%= cell.classNames %>" style="margin-top: 10px">
    <%= raw cell.text %>
	</div>

