<% line.fields.each do |value| %>
<% if value == line.fields.first %>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group form-group-lg no-pd">
  <div class="floatlabel-wrapper" style="position:relative">
    <label for=" " class="label-floatlabel" style="position: absolute; top: 0px; left: 8px; display: none; opacity: 0; font-size: 11px; font-weight: bold; color: rgb(131, 135, 128); transition: all 0.1s ease-in-out;"><%= line.fields %></label><input class="required floatlabel form-control interaction-field-control" required="required" placeholder="<%= value %>" type="text" name=" " id=" " style="transition: all 0.1s ease-in-out;">
  </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 15px"">
  <div class="selectric-labeled">
    <div class="selectric-wrapper selectric-interaction-choice-control-person-name-sfx">
      <div class="selectric-hide-select">
        <select class="interaction-choice-control-person-name-sfx" tabindex="-1">
          <% line.values.each do |value| %>
          <option value="<%= value %>" class="interaction-choice-control-person-name-sfx-0"><%= value %></option>
          <% end %>
        </select>
      </div>
    </div>    
  </div>
</div>
<%else%>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-group form-group-lg no-pd">
  <div class="floatlabel-wrapper" style="position:relative"><label for=" " class="label-floatlabel  " style="position: absolute; top: 0px; left: 8px; display: none; opacity: 0; font-size: 11px; font-weight: bold; color: rgb(131, 135, 128); transition: all 0.1s ease-in-out;"><%= value %></label><input class="floatlabel form-control interaction-field-control" placeholder="<%= value %>" type="text" name=" " id=" " style="transition: all 0.1s ease-in-out;"></div>
</div>
<%end%>
<% end %>
